<div class="container">
  <div class="header-content">
  <img src="https://web.archive.org/web/20061031233907/http://www.geocities.com/SouthBeach/Bluffs/1412/GRAPHICS/neoabnr.gif" alt="" >
  <div class="header">
    <img src="https://web.archive.org/web/20090902131122/http://geocities.com/xenographic/images/dragon.gif" alt="">
    <img src="https://web.archive.org/web/20091022055752/http://www.geocities.com/mabear45/apple_drink_sm_clr.gif" alt="">
  <h1>Welcome to Dragon Cocktails</h1>
  <img src="https://web.archive.org/web/20091022055752/http://www.geocities.com/mabear45/apple_drink_sm_clr.gif" alt="">
  <img src="https://web.archive.org/web/20090902131122/http://geocities.com/xenographic/images/dragon.gif" alt="">
  </div>
  <img src="https://web.archive.org/web/20060104143045/http://www.geocities.com/propheticangel2001/ani_gifs/neon_bar.gif" alt="">
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail|%>
    <div class="col-sm">
      <div class="card py-3 my-3 cocktail-card" style="width: 18rem;">
        <figure class="filter">
        <img src="https://images.pexels.com/photos/970197/pexels-photo-970197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %> </h5>
           <ul class="list-group list-group-flush">
            <% cocktail.doses.each do|dose| %>
            <li class="list-group-item"><%= dose.ingredient.name %></li>
            <% end %>
          </ul>
          <p class="card-text">Discover this classic cocktail</p>
          <%= link_to "See Recipe", cocktail_path(cocktail), class:"btn btn-primary btn-grad rounded-pill btn-grad:hover"  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- Button trigger modal -->



