.cocktail-card {
  opacity: 0.8;
  background-color: rgba(181, 73, 195, 0.6);
  & img {
    height: 180px;
  }

  &:hover {
    opacity: 1;
    background-color: rgba(181, 73, 195, 0.9);
    text-decoration: none;
  }
  & .card-img-top {
    object-fit: contain;
  }

  & .list-group {
    color: #12c2e9;
  }

  & .list-pink {
    background-color: rgba(171, 70, 175, 0.6);
  }

}
