.header {
  display: flex;
  text-align: center;
  align-items: center;
  & img {
    height: 120px;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  grid-column-gap: 0px;
  justify-content:center;
}
